- @articles.each do |article|
  = content_tag_for :article, article do
    %div.article_content
      %h2
        = link_to article.title, article.url
        %small= url_host(article.url)
      = md(article.body)
    = render 'user_info', :article => article, :profile_size => "100x100"
  = tag :hr, :class => "separator" if article != @articles.last

= paginate @articles
%div.infinitescroll

- content_for :javascript do
  = javascript_include_tag 'flow.infinitescroll'
  :javascript
    $(function() {
      Flow.InfiniteScroll.init({
        url: '/articles.json?page=',
        nextSelector: 'div.article_content:last',
        loadMsgSelector: 'div.infinitescroll'        
      });
    });
    